<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- CSS for Styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%= title %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="../">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link disabled" href="#"></a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <h1><%= title %></h1>
    <h4>
      Hi <%= object.name %> (<%= object.gender %>)
      <br />
      <%= magicNum %>
      <br />
      Semesters stayed: <%= object.semesterCount %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Contrasting CCAs?
      <%= object.haveContrasting %>
    </h4>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <h5>OSA Points: <%= object.osaPoints %></h5>
      </div>
      <div class="col-sm">
        <h5>Room Draw Points: <%= object.roomDrawPoints %></h5>
      </div>
    </div>
    <div class="row">
      <!--
      <div class="col-sm-3">
        <h5>Ranking: <%= object.ranking %></h5>
      </div>
    -->
      <div class="col-sm">
        <h5>OSA Percentile: <%= object.percentile %></h5>
      </div>
    </div>
    <h6>Criteria to qualify for hall stay:</h6>
    <ul>
      <li>50 percentile and above</li>
      <li>At least 1 contrasting CCA except for residents who only stayed in 1 semester</li>
      <li>OSA points is calculated by your total bonus points and the highest combination of your top 4 CCAs, where each
        pillar has a max cap at 45 points.<br> For example, if you have 3 sports CCAs of 16 points each, and 2 culture
        CCAs of 15 points each. <br> The total will be calculated as (16 + 16) + (15 + 15) = 32 (2 sports) + 30 (2
        culture) = 62 instead of (16 + 16 + 16) + (15) = 45 (3 sports, capped at 45) + 15 (1 culture) = 60.<br> The
        percentile refers to your OSA points standing against every other resident. Usually the cutoff for hall stay
        determined by OSA is around the 60th percentile.</li>
      <li>Room Draw points is calculated by your total bonus points and the sum of all your CCA points (without any cap).
        Rank determines your priority in choosing a room next year.</li>
    </ul>
    <h6>Disclaimer: Points are subjected to changes.</h6>
  </div>
  <div class="container-fluid">
    <span>CCA Points Breakdown</span>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">CCA</th>
          <th scope="col">Category</th>
          <th scope="col">Attendance Points</th>
          <th scope="col">Performance Points</th>
          <th scope="col">Outstanding Points</th>
          <th scope="col">Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% var ccaList = object.ccaList; for (var i = 0; i < ccaList.length; i++) { %>
        <tr>
          <td><%= ccaList[i].name %></td>
          <% if (ccaList[i].category == "Admin") { %>
          <td>Committee</td>
          <% } else { %>
          <td><%= ccaList[i].category %></td>
          <% } %>
          <td><%= ccaList[i].attendancePoints %></td>
          <td><%= ccaList[i].performancePoints %></td>
          <td><%= ccaList[i].outstandingPoints %></td>
          <td><%= ccaList[i].totalPoints %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <!-- Content here -->
    <br />
  </div>

  <div class="container-fluid">
    <span>Bonus Points Breakdown</span>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Bonus Points</th>
        </tr>
      </thead>
      <tbody>
        <% var bonusList = object.bonusCcaList; if (bonusList != null) {
          for (var i = 0; i < bonusList.length; i++) { %>
        <tr>
          <td><%= bonusList[i].description %></td>
          <td><%= bonusList[i].pts %></td>
        </tr>
        <% }} %>
      </tbody>
    </table>
  </div>

</body>

</html>